<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz de Usuario</title>
    <link rel="stylesheet" href="../static/styles_verDatos.css">
</head>
<body>
    <div class="title">Datos del elector</div>
  <table>
    <thead>
      <tr>
        <th>Carnet de Identidad</th>
        <th>Nombre Completo</th>
        <th>Fecha de Nacimiento</th>
        <th>Género</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>7948714</td>
        <td>Andrés Hernan Mejía Araúz</td>
        <td>10/05/2003</td>
        <td>Masculino</td>
        <td>Habilitado</td>
      </tr>
      <!-- Puedes agregar más filassegún sea necesario -->
    </tbody>
  </table>

  <button type="submit" href="index.php" class="button_a">
    <img src="" alt="">
    EMITIR VOTO
</button>

</body>
</html>