<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="https://cdn.pixabay.com/photo/2016/03/31/19/57/avatar-1295404_1280.png" />
  <link rel="stylesheet" href="../static/css/styles_login.css">
</head>

<body>
  <div class="navbar">
    <nav>
      <ul>
        <li><a href="" id="elector">ELECTOR</a></li>
        <li><a href="" id="comite">COMITE ELECTORAL</a></li>
        <li><a href="" id="administrador">ADMINISTRADOR</a></li>
      </ul>
    </nav>
  </div>
  </div>
  <div class="title">Iniciar Sesión</div>
  <div class="form-container">

    <form class="form" method="POST" action="<?php echo $_SERVER['PHP_SELF'];?>">
      <div class="input-group">
        <img src="../static/css/image/tarjeta2.png" class="icons" alt="">
        <label for="usuario" id="ci">Cédula de Identidad</label>
        <input class="form-control" id="inputEmail" name="ci" type="password" placeholder="Ejm: 8912557" />
      </div>
      <div class="input-group" style="margin-bottom: 5px;">

        <img src="../static/css/image/calendario.png" class="icons" alt="">
        <label for="password" id="fechaNacimiento">Fecha de Nacimiento</label>
        <select class="form-control" id="inputPassword" name="fecha_nacimiento" placeholder="Password">
          {% for numero in numeros_dia %}
          <option value="{{ numero }}">
            {{ numero }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="input-group2">
        <select class="form-control" id="inputPassword" name="passwd" placeholder="Password">
          {% for mes in meses %}
          <option value="{{ mes }}">
            {{ mes }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="input-group2">
        <select class="form-control" id="inputPassword" name="passwd" placeholder="Password">
          <option value="2000">2000</option>
        </select>
      </div>
      <button type="submit" href="index.php" class="button_a">
        <img src="" alt="">
        Ingresar
      </button>
    </form>
    <div class="social-message">
      <div class="line"></div>
      <a class="small" href="register.php">No tiene cuenta? cree una</a>
      <div class="line"></div>
    </div>
  </div>
  <footer>
    <div class="footer">
      <div class="text-muted">Copyright CDL &copy; Your Website 2023
      </div>
      <div>
        <a href="#">Privacy Policy</a>
        &middot;
        <a href="#">Terms &amp; Conditions</a>
      </div>
    </div>
  </footer>
</body>

</html>